[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = James Hill
	email = info@jamesalexanderhill.com
[core]
	excludesfile = /Users/jameshill/.gitignore_global
[init]
	defaultBranch = main
